.overview_page{
    width: 100%;
}

.overview_page .overview_title {
    display: flex;
    align-items: center;
}

.overview_page .overview_title .title_svg_container {
    margin-left: 0.5rem;
}

.overview_page .h4 {
    margin: 1rem 0 ;
}

.summary_container {
    display: inline-flex;
    justify-content: start;
    padding-bottom: 2rem;
    border-bottom: 1px solid #CBC6C3;
    margin-bottom: 1rem;
}