.overview_page{
    width: 100%;
}

.overview_page .overview_title {
    display: flex;
    align-items: center;
}

.overview_page .overview_title .title_svg_container {
    margin-left: 1rem;
}

.overview_page .h4 {
    margin: 1rem 0 ;
}

.summary_container {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-bottom: 2rem;
}