.advanced_setting_container .advanced_setting_header {
    display: flex;
    align-items: center;
}
.advanced_setting_container .cloud_init_container {
    display: flex;
    align-items: center;
}
.advanced_setting_container .cloud_init_container .cloud_svg_container {
    margin-left: 1rem;
}
.cloud_init_textarea {
    width: 50%;
    height: 8rem;
    resize: none;
}

.new_network_name, .new_subnet {
    display: flex;
    align-items: center;
}


.new_network_container h4 {
    min-width: 150px;
}

.new_network_container .input_box {
    padding: 0.5rem 0;
}

.select_box .input_box {
    padding: 0;
    width: 8rem;
}
.select_box .input_box input {
    width: 100%;
}