.advanced_setting_container .advanced_setting_header {
    display: flex;
    align-items: center;
}
.advanced_setting_container .cloud_init_container {
    display: flex;
    align-items: center;
}
.advanced_setting_container .cloud_init_container .cloud_svg_container {
    margin-left: 1rem;
}
.cloud_init_textarea {
    width: 50%;
    height: 8rem;
    resize: none;
}
[data-tooltip-text]:hover {
    position: relative;
}

[data-tooltip-text]:hover:after {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    color: #FFFFFF;
    font-size: 12px;
    content: attr(data-tooltip-text);

    margin-bottom: 10px;
    top: 130%;
    left: 0;
    padding: 7px 12px;
    position: absolute;
    width: 340px;
    word-wrap: break-word;

    z-index: 9999;
}

.new_network_name, .new_subnet {
    display: flex;
    align-items: center;
}


.new_network_container h4 {
    min-width: 150px;
}

.new_network_container .input_box {
    padding: 0.5rem 0;
}

.select_box .input_box {
    padding: 0;
    width: 8rem;
}
.select_box .input_box input {
    width: 100%;
}