.header {
  background-color: #013328;
  color: #F7F8FA;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: #100c0d solid 1px;
}

.header .header_logo_block {
  display: flex;
  align-items: center;
  line-height: 36px;
  padding-left: 2.5rem;
}

.header .header_logo_block .logo-img {
  width: 80px;
  height: 80px;
  background-image: url("./logo.png");
  background-size : 200%;
  background-position : center;
  margin-right: 0.5rem;
}