.sidebar {
    width: 220px;
    background-color:#e3dcd2;
    font-weight: 600;
    font-size: 18px;
    color: #100c0d;
}

.sidebar_panel {
    text-align: center;
    padding: 1.2em 1.2em;
    list-style-type : none
}

.sidebar .sidebar_menu .selected {
    font-weight: bold;
    color:indianred;
}

