table {
    border: 1px solid lightgray;
}

tbody {
    border-bottom: 1px solid lightgray;
}

th {
    padding: 4px 10px;
    text-align: center;
}

td {
    padding: 4px 10px;
    text-align: center;
}
.table_container button {
    background-color: #cccccc;
    border: none;
    color: black;
    font-size: 1rem;
    margin: 0;
    width: 4rem;
}