* {
  margin: 0;
  padding: 0;
  font-family: 'NanumSquareNeo-Variable', 'serif';
  box-sizing: border-box;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0 auto;
  background-color: lightgrey;
}

button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  background-color: indianred;
  color: white;
  font-size: 1.4rem;
  border-radius: 15px;
  padding: 0.4rem;
  cursor: pointer;
  position: relative;
  width: 10rem;
}

.content_body {
  display: flex;
  width: 100%;
}

.inner_content {
  padding-left: 3rem;
}

#container {
  margin: 0 auto;
  width: 90rem;
}

.check-row {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.main_content {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  width: 100%;
  min-height: 95vh;
  background-color: #F7F8FA;
}

.date_pick_container {
  display: flex;
  align-items: center;
}
.date_pick_container .sub_head {
  margin: 0 1rem;
}

[data-tooltip-text]:hover {
  position: relative;
}

[data-tooltip-text]:hover:after {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  color: #FFFFFF;
  font-size: 12px;
  content: attr(data-tooltip-text);

  margin-bottom: 10px;
  top: 130%;
  left: 0;
  padding: 7px 12px;
  position: absolute;
  word-wrap: break-word;

  z-index: 9999;
}