* {
  margin: 0;
  padding: 0;
  font-family: 'NanumSquareNeo-Variable', serif;
  box-sizing: border-box;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin-top: 1.5rem;
  border: none;
  background-color: crimson;
  color: white;
  font-size: 1.5rem;
  border-radius: 15px;
  padding: 0.4rem;
}